<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
       {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/materialize.min.css"%}">
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div id='title'>
    <span>
     TECHOVATE 2017
    </span>
    <br>
    <span>
     IIIT-NR
    </span>
  </div>
      <nav class="transparent">
      <!--  <nav class="teal hoverable">-->
         <div class="nav-wrapper">
          <a class="brand-logo" href="{% url 'index' %}">Technovate</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
           <li><a href="{% url 'events' %}">Events</a></li>
           <li><a href="#">Sponsors</a></li>
           {% if request.user.is_authenticated %}
            <li><a href={% url 'dashboard'%}><i class="material-icons">dashboard</i></a></li>
            <li><a href="{% url 'logout' %}"><i class="material-icons ">power_settings_new</i></a></li>
            {% else %}
           <li><a class="modal-trigger" href="#modal1">Join</a></li>
           <li><a class="modal-trigger" href="#modal2">Campus Ambassador</a></li>
           {% endif %}
           <li><a href="#">About Us</a></li>
         </ul>


      <!-- side nav -->

       <ul class="side-nav" id="mobile-demo">
         <li><a href="{% url 'events' %}">
           <i class="material-icons">today</i>
            Events</a></li><br>
          <li><a href="#">
           <i class="material-icons">business</i>
           Sponsors
          </a></li><br>
         <li>
           {% if request.user.is_authenticated %}
             <li><a href="{% url 'dashboard'%}"><i class="material-icons">dashboard</i>Dashboard</a></li><br>
             <li><a href="{% url 'logout' %}"><i class="material-icons ">power_settings_new</i>Logout</a></li><br>
             {% else %}
             <a href="{% url 'join' %}">
             <i class="material-icons">supervisor_account</i>
             Join</a></li><br>
           {% endif %}
         <li><a href="#">
           <i class="material-icons">info</i>
           About Us</a></li>
        </ul>
     </div>
    </nav>
   {% block content %}

   {% endblock %}
   <div id="modal2" class="modal">
    <div class="modal-content">
         <span class="card-title">Campus Ambassador </span>
         <form action="#" method="post">
             <div class="row">
                 <div class="input-field col s12 m12 l12">
                     <i class="material-icons prefix">account_circle</i>
                     <input type="text" name="Name" autocomplete="off" required="required" id="Name"/>
                     <label for="Name">Name</label>
                 </div>
                 <div class="input-field col s12 m12 l12">
                     <i class="material-icons prefix">email</i>
                     <input type="email" name="email" autocomplete="off" required="required" id="email"/>
                     <label for="email">Email</label>
                 </div>
                 <div class="input-field col s12 m12 l12">
                      <i class="material-icons prefix">work</i>
                      <input type="text" name="institue" autocomplete="off" required="required" id="ins"/>
                      <label for="ins">Institute</label>
                 </div>
                 <div class="input-field col s12 m12 l12">
                     <i class="material-icons prefix">contact_phone</i>
                     <input type="text" autocomplete="off" required="required" id="ph"/>
                     <label for="ph">Phone No.</label>
                 </div>
             </div>
             <button type="submit" value="Become" class="btn waves-effect waves-light teal">Become<i class="material-icons right">send</i></button>
         </form>
    </div>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
      <div class="col s12 m12 l12">
           <span class="card-title">Login </span>
           <div class="row">
             <div class="col s12 m12 l4">
               <form action="{% url 'login' %}" method="post">
                   {% csrf_token %}
               <div class="row">
                 <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">email</i>
                   <input type="email" name="email" autocomplete="off" required="required" id="email"/>
                   <label for="email">Email</label>
                 </div>
                 <div class="input-field col s12 m12 l12">
                   <i class="material-icons prefix">vpn_key</i>
                   <input type="password" name="password" autocomplete="off" required="required" id="password"/>
                   <label for="password">Password</label>
                 </div>
               </div>
                 <button type="submit" value="Log In" class="btn waves-effect waves-light teal">Log In<i class="material-icons right">send</i></button>
               </form>
             </div>
             <div class="col s12 m12 l1"></div>
             <div class="col s12 m12 l7">
               <span class="card-title">Sign Up </span>
               <form method="post" action="{% url 'register' %}">
                 {% csrf_token %}
                 <div class="row">
                    <div class="input-field col s6 m6 l6">
                     <i class="material-icons prefix">account_circle</i>
                     <input type="text" name="first_name" autocomplete="off" required="required" id="first_name"/>
                     <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6 m6 l6">
                     <input type="text" name="last_name" autocomplete="off" required="required" id="first_name"/>
                     <label for="last_name">Last Name</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                       <i class="material-icons prefix">email</i>
                      <input type="email" name="email" autocomplete="off" required="required" id="email"/>
                      <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                      <i class="material-icons prefix">vpn_key</i>
                      <input type="password" name="password" autocomplete="off" required="required" id="password"/>
                      <label for="password">Password</label>
                    </div>
                 </div>
                 <button type="submit" value="Sign Up" class="btn waves-effect waves-light teal">Sign Up<i class="material-icons right">send</i></button>
             </form>
             </div>
           </div>
      </div>
    </div>
  </div>
 <!-- Campus ambassador form-->


 <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   <script>
      $(document).ready(function(){
            $(".button-collapse").sideNav();
      });


     $(document).ready(function(){
     // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
     $('.modal-trigger').leanModal();
     });


   </script>
</body>
</html>
