<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Technovate</title>
</head>
<body>
  <div>
      <form action="{% url 'login' %}" method="post">
      <label for="#username">Username :</label>
      <input type="text" name="username" placeholder="Your Email" id="username" autocomplete="off" required="required"/><br>
      <label for="#password">Password :</label>
      <input type="password" name="password" id="password"  autocomplete="off" required="required"/><br>
      <input type="submit" value="Log In"/>
      </form>
  </div>
   <div>
   <form method="post" action="{% url 'register' %}">
       {% csrf_token %}
       <label for="#first_name">First Name :</label>
       <input type="text" name="first_name" autocomplete="off" required="required" id="first_name"/><br>
       <label for="#last_name">Last Name :</label>
       <input type="text" name="last_name" autocomplete="off" required="required" id="last_name"/><br>
       <label for="#emai">Email :</label>
       <input type="email" name="email" autocomplete="off" required="required" id="email"/><br>
       <label for="#password">Password :</label>
       <input type="password" name="password" autocomplete="off" required="required" id="password"/><br>
       <input type="submit" value="Join "/>
   </form>
   </div>
</body>
</html>
